name: Deploy Documentation

on:
  push:
    branches:
      - main
    paths:
      - "docs/**"
      - "mkdocs.yml"
      - "services/**/docs/**"
      - "services/**/mkdocs.yml"
      - "services/**/README.md"
      - "libs/**/docs/**"
      - "libs/**/mkdocs.yml"
      - "libs/**/README.md"
      - "apps/**/docs/**"
      - "apps/**/mkdocs.yml"
      - "apps/**/README.md"

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4
      
      - name: Install dependencies
        run: uv sync --all-extras

      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - name: Build Docs
        run: uv run mkdocs build -f mkdocs.yml

      - name: Deploy to GitHub Pages
        run: uv run mkdocs gh-deploy --force --clean
